.bannner-container {
    height: 100%;
    background-color: white;
}

.bannner-container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bolder;
}

.bannner-container h4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 300;
}

.bannner-container .hours {
    color: red;
    font-weight: 800;
}

@media(max-width:500px){
    .bannner-container h1{
        font-size: 7vw;
    }
    .bannner-container h4{
        font-size: 5vw;
    }
}

